<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>検索結果</h1>

    <p>キーワード：「<%= keyword %>」</p>

    <% if (posts.length === 0) { %>
      <p>該当する記事はありませんでした。</p>
    <% } else { %>
      <ul>
        <% posts.forEach(post => { %>
          <li>
            <h3><%= post.title %></h3>
            <p>投稿日：<%= post.postedAt.toISOString().slice(0,10) %></p>
            <pre><%= post.content %></pre>
          </li>
        <% }) %>
      </ul>
    <% } %>

    <p>
      <a href="/">メインページへ戻る</a>
    </p>
  </body>
</html>